.textBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: auto;
    width: 100%;
    gap: 2px;
}

.title, .artist {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title {
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.artist {
    font-size: 12px;
    font-weight: 400;
    color: #aaaaaa;
    min-height: 12px;
}